.footer {
  font-family: Poppins, Arial, Helvetica, sans-serif;
}

.footer__copyright {
text-align: center;
font-weight: 400;
font-size: 16px;
line-height: 1;
color: #212121;
opacity: 70%;
padding: 60px 0;
margin-top: 0;
margin-bottom: 0;
}
